output/language_dict_name_fixed.json filter=lfs diff=lfs merge=lfs -text
output/language_dict_namemap_applied.json filter=lfs diff=lfs merge=lfs -text
output/language_dict_name_unified.json filter=lfs diff=lfs merge=lfs -text
